<!DOCTYPE html>
<html lang="en">

<head>
    <partial name="_HeadLayout" />
</head>

<body>
    <partial name="_MenuLayout" />
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - PrimeiraApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>

            @*@await Component.InvokeAsync("SaudacaoAluno")*@
            <vc:saudacao-aluno nome="Rodolfo Teles" id="1" />
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
